/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.section-container{
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0,0,0,0);
	background-origin: padding-box;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}
