/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
/*.ui-state-highlight { height: 812px;}*/
.wpa_group-repeating_textareas{
    background: #eee;
    padding: 10px;
    margin-top: 10px;
    cursor: move;
}
/*.wpa_group-repeating_timeline .ui-state-highlight{
height:832px;
}*/
.wpa_group-repeating_timeline{
	background: #ddd;
    padding: 10px;
    margin-top: 10px;
    cursor: move;
}
.section-content-group-wrap-content{

}
.my_meta_control .hidden {
  display: none;
}
